.button-1 {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: #00000050;
  border: 1px solid #dee2e6;
  color: #212529;
  transition: all 0.15s ease-in-out;
}
