.app-footer {
  padding: 20px 0;
  border-top: 1px solid #fff;
}

.footer-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .socials {
    display: flex;
    align-items: center;
    a {
      margin: 0 10px;
    }
  }
}
