.action-panel {
  min-width: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #a0a0a0;
  z-index: 10;
  .action-header {
    display: flex;
    padding: 10px 5px 20px 0px;
  }
  .panel-list {
    li {
      padding: 5px 15px;
      width: 80%;
      font-weight: 500;
    }
    .p-item {
      display: flex;
      margin-bottom: 10px;
      filter: grayscale(10);
    }
  }
  padding-left: 15px;
  .panel-bottom {
    padding: 5px 0px 20px 5px;
  }
}

#dashboard .main-content {
  width: calc(100% - 230px);
  min-height: 100vh;
}
