* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --back_p: #fff;
  --back_pt: #dbdbdb50;
  --prim_p: #f5f9fc;
  --secd_p: #dbdbdb;
  --text_p: #000000;
  --accn_p: #4194db50;
}

main {
  min-height: 65vh;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.35rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-style: italic;
  font-size: 0.9rem;
}
p {
  font-size: 1.1rem;
}
.wt-1 {
  font-weight: 100;
}
.wt-5 {
  font-weight: 500;
}
.wt-9 {
  font-weight: 900;
}

.img-placeholder {
  min-height: 300px;
}

.back,
body {
  background-color: var(--back_p);
}
.back-t {
  background-color: var(--back_pt);
}
.text-b {
  color: var(--back_p);
}
.prim,
tbody,
.footer-1 {
  background-color: var(--prim_p);
}
.text-p {
  color: var(--prim_p);
}
.secd,
section,
table,
aside,
thead,
input,
textarea,
select,
button,
footer {
  background-color: var(--secd_p);
}
.text-s {
  color: var(--secd_p);
}
.text {
  background-color: var(--text_p);
}
.text-t,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label,
pre {
  color: var(--text_p);
}
.text-a {
  color: var(--accn_p);
}
.accn {
  color: var(--accn_p);
  background-color: var(--accn_p);
}

.home-wrapper {
  width: 85%;
  max-width: 600px;
  margin: 35vh auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-align: center;
  h1 {
    line-height: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
  }
  p {
    font-weight: 400;
    line-height: 1.5;
  }
  .action-buttons {
    margin: 20px;
    button {
      margin-left: 10px;
    }
  }
}

#features {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.hide {
  display: none;
}

.dropdown-list * {
  cursor: pointer;
}

.quick-start-wrapper {
  display: flex;
}

.quick-start {
  .quick-start-content {
    width: calc(100vw - 200px);
    background-color: var(--prim_p);
  }
}

.color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-right: 5px;
  border: 1px solid #00000050;
}

.red-accent {
  background-color: #ff6565;
}
