.update-form {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: scroll;
  background-color: #dbdbdb;
  h2 {
    text-align: center;
  }
  form {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  .input-feild {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    height: 50px;
    label {
      margin-right: 5px;
      color: black;
    }
    input {
      width: 100px;
      height: 25px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px;
    }
    .label-wrapper {
      display: flex;
    }
  }
  .action-buttons {
    display: flex;
    button {
      margin: 5px;
    }
  }
  div::-webkit-scrollbar {
    height: 10px;
    width: 0px;
    background: transparent;
    border: 1px solid #ccc;
  }
}
