.app-header {
  height: 60px;
  top: 0;
  width: 85%;
  margin: 0 auto;
  z-index: 1;
  padding: 20px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;

  .logo-name {
    display: flex;
    .img-wrapper {
      font-size: 1.4rem;
      filter: grayscale(0.6);
    }
    h4 {
      font-size: 1.3rem;
      font-weight: 500;
      margin-left: 10px;
    }
  }

  .nav-section {
    display: flex;
    align-items: center;
    h5 {
      margin-right: 30px;
      font-size: 1rem;
      font-weight: 500;
      &:hover {
        color: #6b8eff;
      }
    }
  }
}
