.app-header {
  height: 60px;
  top: 0;
  width: 85%;
  margin: 0 auto;
  z-index: 1;
  padding: 20px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;

  .logo-name {
    display: flex;
    align-items: center;

    .img-wrapper {
      filter: grayscale(0.6);
      padding-top: 1px;
      font-size: 1.3rem;
    }
    h4 {
      font-weight: 500;
      margin-left: 10px;
      text-align: center;
    }
  }

  .nav-section {
    display: flex;
    align-items: center;
    h5 {
      margin-right: 30px;
      font-weight: 500;
      &:hover {
        color: #6b8eff;
      }
    }
  }
}
